* {
    margin: 0px;
}

.container{/*
    background-color: dodgerblue;*/
    display: grid;
    grid-template:150px 50px 1fr 50px / 1fr;
/*    grid-template: 150px 1fr 40px;*/
    grid-template-areas: "header" "left" "content" "footer";
    grid-gap: 2px;
    height: 100vh;
}

h1 {
    font-size: 30px;
    font-style:  italic;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.item{
    /*background-color: dodgerblue;*/
    background-color:dodgerblue;
    padding: 10px;
    border: 1px solid lightgray;
}

.header{
    grid-area: header;
    text-align: center;
}  

.left{
    grid-area: left;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    grid-gap: 1px;
}

.content{
    grid-area: content;
    grid-gap: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.footer{
    grid-area: footer;
}   

.item-box {
    height: fit-content;
    width: fit-content; 
    padding: 20px;
    font-size: 20px;
    color: aliceblue;
    font-weight: bolder;
}

.item-button {
    font-size: 20px;
    box-shadow: 8px 8px 5px rgba(0,0,0.5);
}


img{
    border: 2px solid slategrey;

}